.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #0d2149;
}

.app-border {
  border: 8px dashed #ffc914;
  padding: 10px;
}

.app-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffc914;
  width: 550px;
  height: 300px;
}
